.container {
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    #profile__img {
      border-radius: 50%;
      height: 70px;
      width: 70px;
      object-fit: cover;
      object-position: center;
      margin-bottom: 5px;
    }

    #twitter {
      font-size: 0.9rem;
      font-weight: 700;
      color: #101828;
      margin-bottom: 30px;
    }
  }

  .share {
    position: absolute;
    top: 6%;
    
    
    img {
      height: 30px;
      width: 30px;
    }
    
    .share_link {
      position: absolute;
      top: 0;
      right: 1px;
      transform: translateX(13px);
      z-index: -1;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      img {
        height: 50px;
        width: 150px;
      }
    }

    &:hover > .share_link{
      transform: translateX(5px);
      opacity: 1;
    }
  }

  .desk_icon {
    right: 27%;
  }


    .mob_icon {
 
      display: none;
    }

  .links {
    width: 80%;
    margin-bottom: 20px;
    ul {
      a {
        li {
          color: #101828;
          background: #eaecf0;
          border: 1px solid #eaecf0;
          margin: 15px 0;
          padding: 15px;
          width: 100%;
          font-size: 0.75rem;
          font-weight: 600;
          border-radius: 4px;
          text-align: center;
          transition: all 0.2s ease-in-out;

          &:hover {
            background: #D0D5DD;
          }
        }
      }
    }
  }

  .icon {
    margin-bottom: 50px;

    img {
      height: 18px;
      width: 18px;
      margin: 10px;
    }
  }

  .footer {
    width: 100%;

    .line {
      background: #eaecf0;
      height: 1px;
      margin-bottom: 20px;
    }

    .footer_cont {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .int {
        width: 120px;
      }

      .i4g {
        width: 100px;
      }

      h5 {
        font-size: 0.6rem;
        font-weight: 400;
        color: #667085;
        width: 70%;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 50px 20px;
    .mob_icon {
      // right: 20px;
      display: block;
      right: 20px;
    }

    .desk_icon {
      display: none;
    }

    .links {
      width: 100%;
    }

    .footer {
      width: 100%;

      .footer_cont {
        flex-direction: column;
        align-items: flex-start;

        h5 {
          text-align: left;
          margin: 15px 0;
        }

        .int {
          width: 110px;
        }

        .i4g {
          width: 80px;
        }
      }
    }
  }
}
